.loginForm input{
    background:white !important;
    padding:20px;
    border:1px solid black;
    margin-top:10px;
}
.loginForm button{
    background:black;
    color:white;
    margin-top:20px;
    padding:20px;
    cursor:pointer;
}